# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Secrets
secrets.tfvars
*.tfvars

# Backup
*.backup

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ansible inventory (личные IP)
ansible/inventory.ini
