[test]
test-vm ansible_host=<TEST_VM_IP> ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519

[prod]
prod-vm ansible_host=<PROD_VM_IP> ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519

[all:vars]
ansible_python_interpreter=/usr/bin/python3